body{
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
}
header{
    color: aliceblue;
    background-color: rgb(148, 96, 96);
    text-align: center;
    padding: 2em;
}

main{
    background-color: rgb(34, 121, 34);
    padding: 2em;
}
footer{
    background-color: rgb(51, 51, 107);
}