.box{
    display: grid;
    width: 240px;
    height: 240px;
    margin: 100px;
    background-color: green;
    border-radius: 12px;
    border: solid lightblue 4px;
}
.box:hover{
    transform: rotateZ(60deg);
    transition: 5s;
    background-color: blueviolet;
    opacity: 50%;
}