body {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #d2d8d5;

  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }
  
  nav {
    
    height: 5rem;
    border-radius: 1rem;
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    position: relative;

  }
  
  nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  nav li a:hover {
    text-decoration: underline;
    color: #bcc5c0;
  }
  nav div{
    background-color: gray;
    border-radius: 10px;
  }
  
  main {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  main > section:first-child {
    background-image: url("images/succulent-unsplash.jpg");
    background-size: cover;
    background-position: center 30%;
    border-radius: 1rem;
    color: rgb(245, 160, 160);
    min-height: 15rem;
  }
  
  section {
    display: flex;
  }
  
  article {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 10px;
    background-color: rgb(233, 219, 202);
    border-radius: 10px;
  }
  
  article img {
    width: 100%;
  }
  
  footer {
    display: flex;
  }
  
  footer div {
    flex: 1;
  }
  
  footer div img {
    width: 50px;
  }
  
  footer div p {
    text-align: right;
    border-top: 1px solid black;
  }